{% ckan_extends %}

{% block group_extras %}
  {{ super() }}

  {% if h.relationship_show_graph_on_group_about() and h.relationship_has_existing_relations(group_dict.id) %}
    <h3>{{ _('Relationship graph') }}</h3>
    <section class="module module-narrow relationship-graph-section">
      <div class="module-content">
        {% snippet 'relationship_graph/snippets/graph.html',
          object_id=group_dict.id,
          object_entity='group',
          object_type=group_dict.type,
          depth=1,
          max_nodes=80,
          height='420px' %}
      </div>
    </section>
  {% endif %}
{% endblock %}
